HelloWS/WebContent/wsdl/AddNumbersPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://duke.example.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddNumbers" targetNamespace="http://duke.example.org">
	<types>
            <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://duke.example.org">

                <complexType name="addNumbersResponse">
                    <sequence>
                        <element name="return" type="xsd:int"/>
                    </sequence>
                </complexType>
                <element name="addNumbersResponse" type="tns:addNumbersResponse"/>

                <complexType name="addNumbers">
                    <sequence>
                        <element name="arg0" type="xsd:int"/>
                        <element name="arg1" type="xsd:int"/>
                    </sequence>
                </complexType>
                <element name="addNumbers" type="tns:addNumbers"/>

                <element name="AddNumbersFault" type="tns:AddNumbersFault"/>
                <complexType name="AddNumbersFault">
                    <sequence>
                        <element name="faultInfo" type="xsd:string"/>
                        <element name="message" type="xsd:string"/>
                    </sequence>
                </complexType>
                <complexType name="oneWayInt">
                    <sequence>
                        <element name="arg0" type="xsd:int"/>
                    </sequence>
                </complexType>
                <element name="oneWayInt" type="tns:oneWayInt"/>
            </xsd:schema>
	</types>
	<message name="addNumbers">
            <part element="tns:addNumbers" name="parameters"/>
	</message>
	<message name="addNumbersResponse">
            <part element="tns:addNumbersResponse" name="result"/>
	</message>
	<message name="addNumbersFault">
            <part element="tns:AddNumbersFault" name="AddNumbersFault"/>
	</message>
	<message name="oneWayInt">
            <part element="tns:oneWayInt" name="parameters"/>
	</message>
	<portType name="AddNumbersPortType">
            <operation name="addNumbers">
                <input message="tns:addNumbers" name="add"/>
                <output message="tns:addNumbersResponse" name="addResponse"/>
                <fault message="tns:addNumbersFault" name="addNumbersFault"/>
            </operation>
            <operation name="oneWayInt">
                <input message="tns:oneWayInt"/>
            </operation>
	</portType>
	<binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
            <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
            <operation name="addNumbers">
                <soap:operation soapAction=""/>
                <input>
                    <soap:body use="literal"/>
                </input>
                <output>
                    <soap:body use="literal"/>
                </output>
                <fault name="addNumbersFault">
                    <soap:fault name="addNumbersFault" use="literal"/>
                </fault>
            </operation>
            <operation name="oneWayInt">
                <soap:operation soapAction=""/>
                <input>
                    <soap:body use="literal"/>
                </input>
            </operation>
	</binding>
	<service name="AddNumbersService">
            <port binding="tns:AddNumbersBinding" name="AddNumbersPort">
                <soap:address location="http://localhost:8080/HelloWS/services/AddNumbersPort"/>
            </port>
	</service>
</definitions>
